article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	--color-text: #000;
    --color-bg: #fff;
    --color-link: #cf5225;
    --color-link-hover: #000;
    --color-info: #272526;
    --grid-item-bg: #FFF9F3;
    --color-close: #ec1752;
	font-family: Futura, "futura-pt", sans-serif;
	min-height: 100vh;
	color: #FF8800;
	color: var(--color-text);
	background-color: #FFF9F3;
	background-color: var(--color-bg);
	font-family: nocturne-serif, serif;

}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
}

.frame {
	position: relative;
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	z-index: 100;
}


/* Header */
.header {
	position: relative;
	z-index: 100;
	text-align: center;
	font-size: 1rem;
}

.header__about {
	font-weight: 100;
}

.header__about-main {
	font-weight: 100;
}

.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}

.github {
	display: block;
	margin: 0.15em 0.15em 0.15em 0.5em;
	padding: 0.25em;
}

.title {
	text-align: center;
}

.title__bottom {
	position: absolute;
	bottom: 0px;
	text-align: center;
	padding: 20px;
	font-family: sofia-pro;
	text-transform: uppercase;
}
/* Top Navigation Style */

.grid-wrap {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	padding: 6rem 1rem 0;
}

.grid-wrap--hidden {
	height: 0;
	overflow: hidden;
}

.grid {
	margin: 0 auto;
	position: relative;
	display: none;
}

.js .grid {
	display: block;
}

.grid__item {
	width: 260px;
	position: relative;
	padding: 2.75rem;
	margin-bottom: 5rem;
}

.grid__item-wrap {
	position: relative;
}

.grid__item-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--grid-item-bg);
}

.grid__item-img {
	pointer-events: none;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	outline: 1px solid transparent;
}

.grid__item:nth-child(even) .grid__item-img {
	transform: rotate3d(0,0,1,4deg);
}

.grid__item:nth-child(odd) .grid__item-img {
	transform: rotate3d(0,0,1,-4deg);
}

.grid__item-title {
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 1rem;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(=180deg);
	transform-origin: 0 50%;
	background-color: #fff;
	opacity: 70%;
}

.grid__item-number {
	font-family: sofia-pro, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1.5rem;
	margin: 0 0 0.15rem;
}

.grid__item-number > span {
	display: inline-block;
}

@media screen and (max-width: 55em) {
.grid__item-title {
	background-color: #fff;
	opacity: 80%;
	padding: 50px;
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 1rem;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(=180deg);
	transform-origin: 0 50%;
}

.gallery-zoe__spreadsheet {
	display: none;
}

.header__about {
	display: none;
}

.header__about-main {
	font-size: 1rem;
	font-family: sofia-pro;
}

.title__name {
	font-size: 1.0rem;
	font-family: sofia-pro;
	text-transform: uppercase;
}
}
@media screen and (min-width: 55em) {
	.frame {
		display: grid;
		align-items: start;
		justify-items: start;
		grid-template-columns: 40% 60%;
		grid-template-areas: 'title header';
		font-family: 0.5rem;
	}
	.header {
		grid-area: header;
		justify-self: end;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-items: center;
		text-align: left;
	}
	.codrops-links {
		margin: 0 0 0 1.5rem;
	}
	.title {
		grid-area: title;
		display: flex;
		text-align: left;
	}

	.title__name {
		font-weight: 100;
	}
	.title__sub {
		position: relative;
		padding: 0 0 0 5rem;
		margin: 0 0 0 1rem;
	}
	.title__sub::before {
		content: '';
		height: 1px;
		width: 4rem;
		background: currentColor;
		position: absolute;
		top: 0.65rem;
		left: 0;
	}
	.title__sub-works {
		display: block;
	}
	.grid__item-number {
		right: -2.45rem;
	}
	.grid__item-title {
		margin-left: -0.25rem;
	}
	.content__item-subtitle {
		font-size: 3vw;
	}
	.content__item-text {
  		column-gap: 20px;
  	}
	.content__item-img {
		max-width: none;
		height: calc(100vh - 6rem);
	}
	.content__item-subtitle {
		max-width: 50%;
	}
	.content__indicator {
		display: block;
	}
}

/* project page styling */


.gallery {
	place-items: center;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	
}

.gallery__standard {
	background-color: #FFF9F3;
	place-items: center;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-image: url("img/allisonicon.png");
}
.gallery__title {
	font-size: 3rem;
	font-weight: 100;
	letter-spacing: -3px;
	word-spacing: 0px;
	text-transform: lowercase;
}

.gallery__description {
	padding-left: 15%;
	padding-right: 15%;
	font-family: sofia-pro;
}

.gallery__author {
	font-family: sofia-pro;
	text-transform: uppercase;
}

.gallery__item {
	display: block;
	padding-top: 20px;
}

.gallery__item:nth-child(even) {
	float: left;
	text-align: left;
}

.gallery__item:nth-child(odd){
	float: right;
	text-align: right;
}

.gallery__item img {
    width: 80%;
}

.gallery__celine {
	width: 300px;
}
@media screen and (min-width: 55em) {
    .gallery__item {
        width: 60%;
	}
	.gallery-zoe__message {
		display: none;
	}
}